RestClientApp/Model/adfmsrc/oramag/sample/one/two/fourteen/client/model/CarrierList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="carrierList">
      <xsd:sequence>
         <xsd:element name="allcarriers" type="carrier" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="carrier">
      <xsd:sequence>
         <xsd:element name="carrierCode" type="xsd:long" minOccurs="0"/>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="carrierList" type="carrierList"/>
</xsd:schema>
